/* 
Outline:
1. object-position
2. Pagination & Breadcrumbs
3. Multiple columns
4. Variables
5. Box-sizing
6. Media Queries
7. Flexbox
*/

/* Object-position */
img {
    width: 183px;
    height: 183px;
    object-fit: cover;
    object-position: 60% 100%;
}

/* Pagination */
.pagination-container {
    text-align: center;
}
.pagination {
    display: inline-block;
}
.pagination a {
    border: 1px solid #bebebe;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 10px;
}

.pagination a:hover {
    background-color: #bebebe;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: red;
    color: white;
}

/* Breadcrumbs */
ul.breadcrumbs {
    list-style: none;
}

ul.breadcrumbs li {
    display: inline;
}

ul.breadcrumbs li+li::before {
    padding: 5px;
    content: ">";
    color: black;
}

/* Multiple columns */
.col-layout {
    column-count: 2;
    column-gap: 40px;

    /* column-rule-style: dashed;
    column-rule-width: 2px;
    column-rule-color: #009900; */

    /* Shorthand */
    column-rule: 2px dashed #009900;
}

.col-layout2 {
    margin: 20px 0;
    column-count: 5;
    column-width: 100px;
    column-rule: 2px dashed #009900;
}

.col-layout2 .col1 {
    column-span: 3;
}

.col-layout2 .col2 {
    column-span: 2;
}

/* Variables */

/* Declare Global CSS variables in :root, and use it using var() */
:root {
    --primary-color: #4adb37;
    --default-border: 2px solid black;
}

button {
    /* Declare local CSS variables */
    --default-spacing: 40px;
    height: var(--default-spacing);
    width: 100px;
}

#b1 {
    background-color: var(--primary-color);
    border: var(--default-border);
}

#b2 {
    border: var(--default-border);
}

#b3 {
    background-color: var(--primary-color);
}

/* 
Box sizing:
- content-box (default) -> actual width = width + padding + border 
                           actual height = height + padding + border
- border-box (preferred) -> maintains the declared height and width
                            actual width = width (content width is compressed when there is margin or padding)
                            actual height = height (content height is compressed when there is margin or padding)
*/

.c-box {
    box-sizing: content-box;
    height: 300px;
    width: 400px;
    padding-top: 10px;
    background-color: red;
}

.b-box {
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    padding-top: 10px;
    background-color: blue;
}

/* 
Media Queries -> check device type, viewport dimensions, device dimensions, orientation, resolution 
              -> to adapt to certain dimensions

Syntax:
@media not|only mediatype and (expressions) {
    // CSS declarations
}
*/

.mq {
    background-color: green;
}

.mq-ul {
    list-style-type: none;
}

.mq-ul li {
    background-color: grey;
    padding: 7px;
    display: block;
}

@media only screen and (max-width: 480px) {
    .mq {
        background-color: white;
    }
}

@media only screen and (min-width: 966px) {
    .mq-ul li {
        display: inline;
    }
}

/* Flexbox - removes the use of float */
.flex-container {
    display: flex;

    /* Default row */
    /* flex-direction: row-reverse; */

    /* Default nowrap */
    /* flex-wrap: wrap; */

    /* Shorthand for direction and wrap */
    flex-flow: row-reverse wrap;

    background-color: #009900;
}

.flex-container2 div {
    background-color: fuchsia;
    padding: 40px;
    margin: 5px;
}

.flex-container2 {
    display: flex;

    /* justify-content: center; */
    justify-content: space-evenly;

    background-color: coral;
}

.flex-container div {
    background-color: fuchsia;
    padding: 40px;
    margin: 5px;
}



/* Below taken from day22 */
.cool-border {
    border: 20px solid transparent;
    padding: 15px;
    border-image: url("images/border.png") 30 round;
}

.grad {
    background: rgb(0,140,255);
    background: linear-gradient(139deg, rgba(0,140,255,1) 21%, rgba(0,255,114,1) 100%);
    border-radius: 30px;
    padding: 10px 20px;
    height: 200px;
    margin: 20px 20px;
}

#shadow-fx {
    background-color: white;
    padding: 10px 20px;
    font-size: 26px;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.exhibition {
    background-color: white;
    padding: 20px 20px;
}

.exhibition .work-card {
    border: 2px solid black;
    padding: 0 50px;
    margin: 40px 0;

    /* Elevation/hover effect */
    box-shadow: 5px 5px 5px grey;
}

form {
    margin: 10px 10px;
    padding: 10px 20px;
    border: 1px solid black
}

form label {
    display: block;
}

form input {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Website Layout */
.content {
    padding: 0 15px;
}

.side-content .links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

.links a:hover {
    color: darkcyan;
}

.side-content {
    width: 25%;
    float: left;
    padding-right: 10px;
}

.main-content {
    display: inline-block;
    width: 75%;
}

/* Form input with icon */
form input[name="email"] {
    background-image: url("images/gmail.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 35px;
}

form input:focus-visible {
    outline: none;
    border-width: 2px;
    border-color: #009900;
}

form select {
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
}

form select:focus-visible {
    outline: none;
    border-width: 2px;
    border-color: #009900;
}

form textarea {
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;

    /* To disable resizing */
    resize: none;
}

form textarea:focus-visible {
    outline: none;
    border-width: 2px;
    border-color: #009900;
}

form .form-group {
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 5px 0;
    background-color: #009900;
    color: #e9e9e9;

    border: 1px solid black;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: #121212;
    color: #e9e9e9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a { 
    display: inline-block;
    color: #e9e9e9;
    text-decoration: none;
    margin: 10px 10px;
}

nav li:hover {
    background-color: #303030;
}

nav #active {
    background-color: #009900;
}

nav #left {
    float: right;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 140px;
    box-shadow: 5px 6px 9px -3px rgba(0,0,0,0.28);
}

.dropdown-content li {
    display: block;
    border-bottom: 1px solid #e9e9e9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.gallery {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.card {
    display: inline-block;
    border: 1px solid grey;
    margin: 5px 10px;
}

.card-image {
    width: 100%;
    height: 150px;
}

.card-desc {
    text-align: center;
    margin: 5px 0;
}