body {
   background-color: #5a518b;    
   font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

#h1det {
    margin-top: 0;
    padding: 40px 0;
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 5px 5px #5a518b;
    background-color: #FFACAC;
    background-size: 2000px 1500px;
}

#h2det {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}

#blue {
    float: left;
    margin: 20px;
}

table,th,td {
    float: none;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    background-color: #FFACAC;
    border-radius: 12px;
    height: 25px;
    padding: 25px;
    margin-top: 30px;
    margin: 18px;

}

.header {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;
}

p {
    font-size: 18px;
    color: black;
    text-align: center;
    background-color: #FFACAC;
    padding: 25px;
    margin: 20px;
    border-radius: 12px;
    max-width: 1000px;
}

#adinterests {
    text-align: left;
    margin: 20px;
    font-size: 30px;
    color: #FFFFFF;
}

ul,li {
    font-size: 18px;
    color: #FFFFFF;
    margin: 20px;
}

li {
    margin-top: 5px;
}

#interests {
    margin: 0 auto;
}
